acl:
{% for acl in knot_acl %}
  - id: {{ acl.id }}
{% if acl.address is defined %}    address: [{{ acl.address | join(', ') }}]
{% endif %}
{% if acl.key is defined %}    key: [{{ acl.key | join(', ') }}]
{% endif %}
    action: [{{ acl.action | join(', ') }}]
{% if acl.update_type is defined %}    update-type: [{{ acl.update_type | join(', ') }}]
{% endif %}
{% if acl.update_owner is defined %}    update-owner: {{ acl.update_owner }}
{% endif %}
{% endfor %}
