{{ ansible_managed | comment }}

server:
  rundir: "{{ knot_server_rundir }}"
  user: "{{ knot_user }}:{{ knot_group }}"
{% for listen in knot_server_listen %}
  listen: {{ listen }}
{% endfor %}

log:
  - target: syslog
    any: info

database:
  storage: "{{ knot_database_storage }}"

policy:
  - id: standard
    algorithm: ECDSAP384SHA384
    nsec3: on

template:
  - id: master
    storage: "{{ knot_database_storage }}/zone"
    file: "%s.zone"
    semantic-checks: on
  - id: master_signed
    storage: "{{ knot_database_storage }}/zone"
    file: "%s.zone"
    semantic-checks: on
    dnssec-signing: on
    dnssec-policy: standard
    zonefile-load: difference
  - id: slave
    storage: "{{ knot_database_storage }}/zone"
    file: "%s.zone"

include: {{ knot_key_conf }}
include: {{ knot_remote_conf }}
include: {{ knot_acl_conf }}
include: {{ knot_zone_conf }}
