zone:
{% for zone in knot_zone %}
{% if knot_role == 'primary' %}
{% if zone.master is defined %}
{% set _master = zone.master %}
{% endif %}
{% set _template = zone.template %}
{% set _notify = zone.notify|default([]) + knot_secondary %}
{% set _acl = zone.acl|default([]) + [ 'secondary' ] %}
{% elif knot_role == 'secondary' %}
{% set _master = knot_primary %}
{% set _template = 'slave' %}
{% set _acl = [ 'primary' ] %}
{% endif %}
  - domain: {{ zone.domain }}
    template: {{ _template }}
{% if _master is defined %}    master: [{{ _master | join(', ') }}]
{% endif %}
{% if _notify is defined %}    notify: [{{ _notify | join(', ') }}]
{% endif %}
{% if _acl is defined %}    acl: [{{ _acl | join(', ') }}]
{% endif %}
{% endfor %}
